language: julia
os:
    - linux
    - osx
julia:
    - nightly
notifications:
    email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.checkout("Images"); Pkg.build("ImageFeatures")'
    - julia -e 'Pkg.test("ImageFeatures", coverage=true)'
after_success:
    - if [ $TRAVIS_OS_NAME = "linux" ]; then
         julia -e 'cd(Pkg.dir("ImageFeatures")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
      fi
#   - julia -e 'Pkg.clone("https://github.com/MichaelHatherly/Documenter.jl")'
#   - julia -e 'cd(Pkg.dir("ImageFeatures")); include(joinpath("docs", "make.jl"))'

